{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать ресторан</title>
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/bootstrap.min.css' %}" />
</head>
<body>
    <h1>Редактирование ресторана</h1>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Сохранить изменения
    </button>

</form>
</body>
</html>