{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рестораны</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/bootstrap.min.css' %}" />
</head>
<body>

<h1>Список ресторанов</h1>

<a href="{% url 'add_restaurant' %}">
    Добавить ресторан
</a>
{% if user.is_authenticated %}

    <p>
        Привет, {{ user.username }}
    </p>

    <a href="{% url 'logout' %}">
        Выйти
    </a>

{% else %}

    <a href="{% url 'login' %}">
        Войти
    </a>

    <a href="{% url 'register' %}">
        Регистрация
    </a>

{% endif %}

<hr>

<form method="GET">

    <input type="text"
           name="q"
           placeholder="Поиск по специализации">

    <button type="submit">
        Найти
    </button>

</form>

<hr>

{% for restaurant in restaurants %}
<div class="restaurant-card">
    <h2>{{ restaurant.name }}</h2>

    <p>
        <strong>Адрес:</strong>
        {{ restaurant.address }}
    </p>

    <p>
        <strong>Телефон:</strong>
        {{ restaurant.contact_number }}
    </p>

    <p>
        <strong>Сайт:</strong>

        <a href="{{ restaurant.website }}">
            {{ restaurant.website }}
        </a>
    </p>

    <p>
        <strong>Специализации:</strong>

        {% for spec in restaurant.specializations.all %}
            {{ spec.name }}
        {% endfor %}
    </p>

    <div class="restaurant-images">

        {% for image in restaurant.images.all %}

            <img src="{{ image.image.url }}"
                 width="200">

        {% endfor %}

    </div>

    <br>

    <a href="{% url 'edit_restaurant' restaurant.id %}">
        Редактировать
    </a>

    <br><br>

    <a href="{% url 'delete_restaurant' restaurant.id %}">
        Удалить
    </a>

    <br><br>

    {% if user.is_authenticated %}

    <a href="{% url 'add_review' restaurant.id %}">
        Добавить отзыв
    </a>

{% else %}

    <button onclick="alert('Только зарегистрированные пользователи могут оставлять отзывы')">
        Добавить отзыв
    </button>

{% endif %}

    <h3>Отзывы:</h3>

    {% for review in restaurant.reviews.all %}
        {% if review.approved %}
        <p>
            <strong>{{ review.author }}</strong>
        </p>

        <div class="review">
            <p>{{ review.text }}</p>
        </div>

        <hr>
        {% endif %}
    {% empty %}

        <p>Отзывов пока нет</p>

    {% endfor %}

    <hr>
</div>
    {% endfor %}
<script src="{%static 'myapp/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>